.recipeItem-card {
  height: 300px;
  text-align: center;
  border: none;

  background-color: #f6f6f6;
  &:hover {
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.recipeItem-img {
  //   margin: 0 auto;
  width: auto;
  height: 100%;
  display: block;

  &--hover {
    width: 80px;
    margin: 0 auto;
  }
}

.recipeItem-description {
  margin: 0 auto;
  //   display: none;
  margin-top: 30px;

  &--hover {
    display: inherit;
  }
}
